
#container{
    margin:20px;
}
#container::before{
    content:"This is before text";
    color:#f00;
    font-size:20px;
    margin-bottom:10px;
}
#container::after{
    content:"This is after text";
    color:#f00;
    font-size:20px;
    margin-top:10px;
}
